{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block headerimg %}{% if page.headerimg %}{{ page.headerimg }}{% else %}{{ DEFAULT_HEADER_BG }}{% endif %}{% endblock %}

{% block content %}

<div class="container post">
    <article>
        <header class="projects">
          <h1>{{ page.title }}</h1>
          {% if page.date %}
          <time datetime="page.date.isoformat()" pubdate>{{ page.locale_date }}</time>
          {% endif %}
        </header>

        <!-- start of project showcase -->
        <div class="container proj-cont">
            <div class="row proj-row">
                <div class="col-lg-5 proj">
                    <div class="proj-design">Filler Text</div>
                </div>
                <div class="col-lg-5 proj">
                    <div class="proj-design">Filler Text</div>
                </div>
            </div>
            <div class="row proj-row">
                <div class="col-lg-5 proj">
                    <div class="proj-design">Filler Text</div>
                </div>
                <div class="col-lg-5 proj">
                    <div class="proj-design">Filler Text</div>
                </div>
            </div>
        </div>
        

        <div class="article_content">
            {{ page.content }}
        </div>

    </article>
</div>

<style type="text/css">
    {% include 'main.css' %}
</style>


{% endblock %}
